.user-info{

    text-align:center;

    padding:30px 20px;

    background:#1e88e5;

    color:white;

}

.user-info ion-icon{

    font-size:80px;

}

.user-info h2{

    margin-top:10px;

    font-size:22px;

}

ion-item{

    margin-top:5px;

    --border-radius:12px;

}