<ion-header>

<app-header
  titulo="Dashboard">
</app-header>


</ion-header>

<ion-content>

  <div class="dashboard-container">

    <div class="welcome-card">

      <h1>
        Bienvenido
      </h1>

      <h2>
        {{ usuario?.nombre }}
      </h2>

      <p>
        Rol:
        {{ usuario?.rol }}
      </p>

    </div>

    <div class="cards-container">

      <div class="dashboard-card">

        <ion-icon
          name="desktop-outline">
        </ion-icon>

        <h3>
          Activos
        </h3>

        <p>
       <p>
  {{ estadisticas.total }}
        </p>

      </div>

      <div class="dashboard-card">

        <ion-icon
          name="cube-outline">
        </ion-icon>

        <h3>
          Buenos
        </h3>

        <p>
         <p>
  {{ estadisticas.buenos }}
</p>
      

      </div>

      <div class="dashboard-card">

        <ion-icon
          name="people-outline">
        </ion-icon>

        <h3>
          Usuarios
        </h3>

        <p>
  {{ estadisticas.malos }}
</p>

      </div>

      <div class="dashboard-card">

        <ion-icon
          name="alert-circle-outline">
        </ion-icon>

        <h3>
          Pendientes
        </h3>

        <p>
          5
        </p>

      </div>

    </div>
<div class="charts-grid">

  <div class="chart-card">

    <h2>
      Activos por Área
    </h2>

    <canvas id="barChart"></canvas>

  </div>

  <div class="chart-card">

    <h2>
      Estado de Activos
    </h2>

    <canvas id="pieChart"></canvas>

  </div>

</div>

  </div>

  

</ion-content>